*.o
*.d
*.a
CppUTest_tests
*.zip
Treadmill_tests
fitnesse/FitNesseRoot/ErrorLogs/
fitnesse/FitNesseRoot/files/testResults/
treadmill/Treadmill_acceptance_tests
treadmill/Treadmill_acceptance_tests_cheat
Treadmill_tests.txt
tags
*.key
treadmill/build-cli/
